fastapi
pydantic
python-dotenv
bson
opencv-python
requests
yt-dlp
Pillow
uvicorn
dotenv
opencv-python-headless
numpy
ultralytics
uuid
deepface
python-multipart
secure-smtplib
email-validator
torch
torchvision
pymongo
datetime
tf-keras
